.DiaryEditor {
  border : 1px solid #ddd;
  text-align: center;
  padding: 20px;
}

.DiaryEditor input,
textarea {
  margin: 0 0 20px 0;
  width: 500px;
  padding: 10px;
}

.DiaryEditor textarea {
  height: 150px;
}

.DiaryEditor select {
  width: 300px;
  padding: 10px;
  margin: 0 0 20px 0;
}

.DiaryEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}